body {
	width: 100%;
	height: 100vh;
	overflow-x:hidden;
	background-color: #000;
	transition:background-color linear 5s;
}
.bulb-wire {
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-evenly;
}
.container {
	width: 100%;
	height: 100vh;
	display: none;
	position: relative;
}
.peach {
	background-color: #FFDAB9;
}
.peach-after {
	animation: peach_alive linear 8s infinite;
}

@keyframes peach_alive {
	0%{
		background-color: #FFDAB9;
	}
	25%{
		background-color: #FFE4B5;
	}
	50%{
		background-color: #FFDAB9;
	}
	75%{
		background-color: #FFEFD5;
	}
	100%{
		background-color: #FFDAB9;
	}
}

.bulb {
	width: 100%;
	height: 60px;
	margin: auto;
	display: flex;
	background-size: 50px 50px;
	background-repeat: no-repeat;
	background-position: center 0px;
}

.bulb-holder {
	width: 70px;
	display: flex;
	height: max-content;
}

.bulb-glow-yellow {
	animation: bulb_glow_yellow linear 5s;
	filter: drop-shadow(0 5px 10px rgb(250, 225, 118));
	background-image: url('./Images/Bulb-Images/bulb_yellow.png');
}
@keyframes bulb_glow_yellow {
	0%{
		background-image: url('./Images/Bulb-Images/bulb.png');
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		background-image: url('./Images/Bulb-Images/bulb_yellow.png');
		opacity: 1;
	}
}

.bulb-glow-red {
	animation: bulb_glow_red linear 5s;
	background-image: url('./Images/Bulb-Images/bulb_red.png');
}
@keyframes bulb_glow_red {
	0%{
		background-image: url('./Images/Bulb-Images/bulb.png');
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		background-image: url('./Images/Bulb-Images/bulb_red.png');
		opacity: 1;
	}
}
.bulb-glow-blue {
	animation: bulb_glow_blue linear 5s;
	background-image: url('./Images/Bulb-Images/bulb_blue.png');
}
@keyframes bulb_glow_blue {
	0%{
		background-image: url('./Images/Bulb-Images/bulb.png');
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		background-image: url('./Images/Bulb-Images/bulb_blue.png');
		opacity: 1;
	}
}

.bulb-glow-green {
	animation: bulb_glow_green linear 5s;
	background-image: url('./Images/Bulb-Images/bulb_green.png');
}
@keyframes bulb_glow_green {
	0%{
		background-image: url('./Images/Bulb-Images/bulb.png');
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		background-image: url('./Images/Bulb-Images/bulb_green.png');
		opacity: 1;
	}
}

.bulb-glow-pink {
	animation: bulb_glow_pink linear 5s;
	background-image: url('./Images/Bulb-Images/bulb_pink.png');
}
@keyframes bulb_glow_pink {
	0%{
		background-image: url('./Images/Bulb-Images/bulb.png');
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		background-image: url('./Images/Bulb-Images/bulb_pink.png');
		opacity: 1;
	}
}

.bulb-glow-orange {
	animation: bulb_glow_orange linear 5s;
	background-image: url('./Images/Bulb-Images/bulb_orange.png');
}
@keyframes bulb_glow_orange {
	0%{
		background-image: url('./Images/Bulb-Images/bulb.png');
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		background-image: url('./Images/Bulb-Images/bulb_orange.png');
		opacity: 1;
	}
}

.bulb-glow-yellow-after {
	animation: bulb_glow_yellow_after linear 1s infinite;
	background-image: url('./Images/Bulb-Images/bulb_yellow.png');
}
@keyframes bulb_glow_yellow_after {
	0%{
		background-image: url('./Images/Bulb-Images/bulb.png');
	}
	50%{
		background-image: url('./Images/Bulb-Images/bulb_yellow.png');
	}
	100%{
		background-image: url('./Images/Bulb-Images/bulb.png');
	}
}

.bulb-glow-red-after {
	animation: bulb_glow_red_after linear 1.2s infinite;
	background-image: url('./Images/Bulb-Images/bulb_red.png');
}
@keyframes bulb_glow_red_after {
	0%{
		background-image: url('./Images/Bulb-Images/bulb.png');
	}
	50%{
		background-image: url('./Images/Bulb-Images/bulb_red.png');
	}
	100%{
		background-image: url('./Images/Bulb-Images/bulb.png');
	}
}

.bulb-glow-blue-after {
	animation: bulb_glow_blue_after linear 1.4s infinite;
	background-image: url('./Images/Bulb-Images/bulb_blue.png');
}
@keyframes bulb_glow_blue_after {
	0%{
		background-image: url('./Images/Bulb-Images/bulb.png');
	}
	50%{
		background-image: url('./Images/Bulb-Images/bulb_blue.png');
	}
	100%{
		background-image: url('./Images/Bulb-Images/bulb.png');
	}
}
.bulb-glow-green-after {
	animation: bulb_glow_green_after linear 1.8s infinite;
	background-image: url('./Images/Bulb-Images/bulb_green.png');
}
@keyframes bulb_glow_green_after {
	0%{
		background-image: url('./Images/Bulb-Images/bulb.png');
	}
	50%{
		background-image: url('./Images/Bulb-Images/bulb_green.png');
	}
	100%{
		background-image: url('./Images/Bulb-Images/bulb.png');
	}
}
.bulb-glow-pink-after {
	animation: bulb_glow_pink_after linear 2s infinite;
	background-image: url('./Images/Bulb-Images/bulb_pink.png');
}
@keyframes bulb_glow_pink_after {
	0%{
		background-image: url('./Images/Bulb-Images/bulb.png');
	}
	50%{
		background-image: url('./Images/Bulb-Images/bulb_pink.png');
	}
	100%{
		background-image: url('./Images/Bulb-Images/bulb.png');
	}
}
.bulb-glow-orange-after {
	animation: bulb_glow_orange_after linear 2.2s infinite;
	background-image: url('./Images/Bulb-Images/bulb_orange.png');
}
@keyframes bulb_glow_orange_after {
	0%{
		background-image: url('./Images/Bulb-Images/bulb.png');
	}
	50%{
		background-image: url('./Images/Bulb-Images/bulb_orange.png');
	}
	100%{
		background-image: url('./Images/Bulb-Images/bulb.png');
	}
}
audio {
	display: none;
}

.bannar {
	max-width: 100%;
	transform: translate(0px,-500px);
}
.bannar-come {
	transform: translate(0px,0px);
	animation: bannar_come linear 6s;
}
@keyframes bannar_come {
	0%{
		transform:translate(0px,-1000px);
	}
	33%{
		transform:translate(0px,0px);
		transform:rotate(10deg);
	}
	66% {
		transform:translate(0px,100px);
		transform:rotate(-10deg);
	}
	100% {
		transform:translate(0px,0px);
	}
}

.balloons {
	position: fixed;
	bottom: -200px;
	opacity: 0.6;
	z-index: 99;
	width: 100px;
	height: 183px;
	background-repeat: no-repeat no-repeat;
	background-size: 100px 183px;
}
.balloons h2 {
	text-transform: uppercase;
	font-family: 'Signika', sans-serif;
	font-size: 50px;
	color: #BF4136;
	text-shadow: 5px 5px 5px #FFF;
	display: none;
}
#b1, #b11 {
	background-image: url('./Images/Balloon-Images/b1.png');
}
#b2, #b22 {
	background-image: url('./Images/Balloon-Images/b2.png');
}
#b3, #b33 {
	background-image: url('./Images/Balloon-Images/b3.png');
}
#b4, #b44{
	background-image: url('./Images/Balloon-Images/b4.png');
}
#b5, #b55{
	background-image: url('./Images/Balloon-Images/b5.png');
}
#b6, #b66{
	background-image: url('./Images/Balloon-Images/b6.png');
}
#b7, #b77{
	background-image: url('./Images/Balloon-Images/b7.png');
}
.balloons-rotate-behaviour-one {
	transform: rotate(30deg);
	animation: balloons_rotate_one linear 10s infinite;
}
@keyframes balloons_rotate_one {
	0% {
		transform: rotate(20deg);
	}
	50% {
		transform: rotate(-20deg);
	}
	100% {
		transform: rotate(20deg);
	}
}
.balloons-rotate-behaviour-two {
	transform: rotate(-20deg);
	animation: balloons_rotate_two linear 10s infinite;
}
@keyframes balloons_rotate_two {
	0% {
		transform: rotate(-20deg);
	}
	50% {
		transform: rotate(20deg);
	}
	100% {
		transform: rotate(-20deg);
	}
}

.balloon-border{
	position: fixed;
	top:100%;
	opacity: 0.5;
	z-index: 9999;
}
.control-panel {
	position: fixed;
	bottom: 0;
	padding:10px 0px 10px 0px;
}
#play, #bannar_coming, #balloons_flying, #cake_fadein, #light_candle, #wish_message, #story {
	display: none;
}

.cake-cover {
	margin-top: 50px;
}
.message {
	margin-top: 200px;
	display: none;
}
.message p {
	display: none;
	font-size: 30px;
	color: #C4515C;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 2px 2px 2px #FFF;
	font-family: 'Signika', sans-serif;
	font-weight: bold;
}
.navbar {
	bottom: 2rem;
}
.btn-primary {
	height: 50px;
	color: #3498db;
	cursor: pointer;
	padding: 10px 20px;
	border-radius: 8px;
	position: relative;
	background-color: transparent;
	border: 2px solid #3498db;
	text-transform: uppercase;
	overflow: hidden;
	transition: 0.8s all;
	font: 800 17px 'montserrat', sans-serif;
	outline: none;
}
.btn-primary::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0%;
	z-index: -1;
    transition: 1s all;
	border-radius: 0 0 50% 50%;
	background-color: #3498db;
}
.btn-primary:hover:before{
	height: 180%;
	color: #fff;
	border-color: #fff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
	color: #fff;
	border-color: #fff;
	background-color: #3498db;
}

@media only screen and (max-width: 767px) {
	.balloons {
		width: 50px;
		height: 91.5px;
		background-size: 50px 91.5px;
	}
	.balloons h2 {
		font-size: 20px;
	}
	.bulb-holder:nth-child(1) {
		display: none;
	}
	.bannar {
		max-width: 70%;
		object-fit: contain;
	}
	.banner-row{
		margin-top: 5%;
	}
	.message p {
		font-size: 18px;
	}
}